doctype html
html(lang="en")
	header
		title MEAN Stack
		// Dependancies
		script(type='text/javascript', src='/libs/jquery.min.js')
		// Semantic UI
		script(type='text/javascript', src='/libs/semantic.min.js')
		link(rel='stylesheet', type="text/css", href='/libs/semantic.min.css')
		// App
		link(rel='stylesheet', type="text/css", href='/index.css')
		link(rel='stylesheet', type="text/css", href='/errors/index.css')
	body(ng-app="MEAN_Stack")
		.ui.middle.aligned.center.aligned.grid
			.error.column
				.ui.hidden.section.divider
				block content